@import "./Soup.css";

.soup-button {
    cursor: pointer;
    transition: background 0.1s ease-out, color 0.1s ease-out;
}

.soup-button:hover:not(:disabled) {
    background: black;
    color: white;
}

.soup-button:active:not(:disabled) {
    color: black;
    transition: none;
}
