@import "./Soup.css";

.soup-slider {
    position: relative;
    padding: 3px;
}

.soup-slider-fill {
    --width: 0px;
    position: relative;
    width: calc(2.5em - 12px + ((100% - (2.5em - 12px)) * var(--width)));
    height: 100%;
    background: black;
    border-radius: 100000px;
    transition: width 0.1s;
}

.soup-slider-fill.interactive {
    cursor: pointer;
}

.soup-slider-fill.interactive::after {
    position: absolute;
    top: calc(1.25em - 6px - 0.2em);
    right: calc(1.25em - 6px - 0.2em);
    width: 0.4em;
    height: 0.4em;
    background: white;
    border-radius: 100000px;
    content: "";
}