* {
    box-sizing: border-box;
}

.soup-container, .soup-element {
    border: 3px solid black;
}

.soup-container {
    padding: 8px;
}

.soup-element {
    height: 2.5em;
    background: white;
    border-radius: 100000px;
    outline: none;
    padding: 4px 12px;
}

.soup-element:focus-visible {
    animation: border-blink 1s infinite;
}

@keyframes border-blink {
    0%, 100% {
        border-color: black;
    }
    50% {
        border-color: white;
    }
}