* {
    box-sizing: border-box;
}

:where(.soup-element) {
    border: 3px solid black;
    height: 2.5em;
    background: white;
    border-radius: 1.25em;
    outline: none;
    padding: 4px 12px;
}

:where(.soup-element):focus-visible {
    animation: border-blink 1s infinite;
}

@keyframes border-blink {
    0%, 100% {
        border-color: black;
    }
    50% {
        border-color: white;
    }
}