* {
    box-sizing: border-box;
}

.soup-container, .soup-element {
    border: 3px solid black;
}

.soup-container {
    padding: 8px;
}

.soup-element {
    background: white;
    border-radius: 100000px;
    outline: none;
    padding: 4px 12px;
}

.soup-element:focus-visible {
    animation: border-blink 1s infinite;
}

.soup-switch {
    appearance: none;
    height: 100%;
    aspect-ratio: 1.5;
    position: relative;
    cursor: pointer;
}

.soup-switch::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    height: calc(100% - 6px);
    aspect-ratio: 1;
    background: black;
    border-radius: 50%;
    transition: height 0.2s, top 0.2s, left 0.2s, background 0.2s;
}

.soup-switch:checked {
    background: black;
}

.soup-switch:checked::before {
    height: 100%;
    top: 0;
    left: calc(50% - 6px);
    background: white;
}

.soup-switch-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.soup-button {
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.soup-button:hover:not(:disabled) {
    background: black;
    color: white;
}

.soup-button:active:not(:disabled) {
    background: white;
    color: black;
    transition: none;
}

@keyframes border-blink {
    0%, 100% {
        border-color: black;
    }
    50% {
        border-color: white;
    }
}